/*
TYPE
*/

body {
	font-size: 0px + @basefont;
	.fw_em_line_height(@fw_size_p);
}

article {
	margin-bottom: 0px + @fw_strand1_ratio_up_3;
}

img {
	border: 0;
	vertical-align: middle;
}
.foswikiImage img {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility; 
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}

/*
You will find 2 ways to set the line height of elements, and they are both wrong:

   1. @body_line_height / @size : leads to very small line heights that cause overlap
   
   2. don't set line height at all but let the browser use body's line height : with a setting of 1.5 that leads to very high line heights with too much whitespace.

The solution is to use line-height: 1 (right, no em!) for headers, and the desired line height for normal text only.
*/

h1 {
	.fw_heading_1();
}
h2 {
	.fw_heading_2();
}
h3 {
	.fw_heading_3();
}
h4 {
	.fw_heading_4();
}
h5 {
	.fw_heading_5();
}
h6 {
	.fw_heading_6();
}
.foswikiManagePage h1 {
	.fw_heading_3();
}
.foswikiTitle,
.foswikiLarge,
.foswikiManagePage h2 {
	.fw_heading_4();
}
.foswikiManagePage h3 {
	.fw_heading_5();
}
.foswikiViewPage h5,
.foswikiViewPage h6 {
	font-variant: small-caps;
}
.foswikiManagePage h4 {
	.fw_heading_6();
}
p,
pre,
blockquote,
iframe,
label,
address,
td,
th,
ul,
ol,
dl,
hr,
.foswikiTable,
.foswikiBroadcastMessage,
.foswikiImage,
.foswikiMessage,
.foswikiNotification,
.foswikiAttachments,
.foswikiForm {
	.fw_inline_p();
}

/* vertical margin for block level elements */
p,
pre,
blockquote,
iframe,
address,
ul,
ol,
dl,
hr,
.foswikiTable,
.foswikiBroadcastMessage,
.foswikiImage,
.foswikiMessage,
.foswikiNotification,
.foswikiAttachments,
.foswikiForm,
.foswikiFormSteps {
	.fw_block_p();
}

dt,
li {
	.fw_em_font_size(@fw_size_p);
}
abbr, code, kbd, samp, small, var {}

/* smaller text */
.foswikiSmallish,
.help-inline,
.help-block {
	.fw_em_line_height(@fw_size_smallish);
	.fw_em_font_size(@fw_size_smallish);
}
small,
.foswikiSmall {
	.fw_em_line_height(@fw_size_small);
	.fw_em_font_size(@fw_size_small);
}

/* consistent block size */

blockquote,
pre,
.foswikiHelp,
.foswikiBroadcastMessage,
.foswikiNotification {
	.fw_block_padding_all();
	li {
		list-style-type: circle;
	}
}
.foswikiFormStep {
	.fw_block_padding_all();
		
	p {
		margin-bottom: 0;
	}
}

/* if we don't use a background or border for blockquotes, we don't need the top and bottom padding */
blockquote {
	padding-top: 0;
	padding-bottom: 0;
	font-family: @fw_font_family_main;
	font-style: italic;
}

/* code texts */

body,
blockquote {
	pre,
	code,
	tt,
	kbd,
	samp,
	.foswikiDiffDebug {
		font-family: @fw_font_family_code;
		font-style: normal;
		.fw_em_font_size(@fw_size_code);
		.fw_em_line_height(@fw_size_code);
		border-style: solid;
		border-width: 1px;
		.border-radius(0);
	}
}


/* prevent double margins with nested list elements */
dd,
ul,
ol {
	margin-left: 0px + @fw_body_line_height;
}
ul ul, ul ol, ol ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
}



/* prevent double padding with bullet list in block */
blockquote,
pre,
.foswikiHelp,
.foswikiBroadcastMessage,
.foswikiNotification {
	ol:first-child,
	ul:first-child {
		margin-top: 0;
		margin-bottom: 0;
	}
}
blockquote,
pre,
.foswikiHelp,
.foswikiBroadcastMessage,
.foswikiNotification,
.foswikiFormStep {
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}
}

.foswikiLeft {
	float: left;
	position: relative;
}
.foswikiRight {
	position: relative;
	float: right;
}
.foswikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.foswikiHidden {
	display: none;
}
.foswikiAccessKey {
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: solid;
}
a:hover .foswikiAccessKey {
	text-decoration:none;
	border:none;
}
.foswikiTopicActions .foswikiAccessKey {
	text-decoration:none;
	border:none;
}
