/*
OVERRIDES
*/



/* override forms.less */

select,
input[type='file'] {
	@select_baseline: 18px;
	height: @select_baseline * 1.5; // In IE7, the height of the select element cannot be changed by height, only font-size
	line-height: @select_baseline * 1.5;
	color: @fw_color_text;
}

input,
textarea,
select,
.uneditable-input {
	width: 0px + @fw_strand1_ratio_up_9;
}



/* override patterns.less */

.tabs {
  > li {
    > a {
      line-height: @baseline;
    }
  }
}

.btn {
	.border-radius(@fw_block_corner);
}

.alert-message {
  &.block-message {
    background-color: lighten(@fw_color_background_message, 5%);
    border-color: @fw_color_background_message;
  }
}



/* override reset.less */

blockquote:before,
blockquote:after {
	content: none;
}