/*
FORM ELEMENTS
Button styles execpt for colors; these are set in baseskin-colors.less
*/

/* Form structure */

.foswikiFormSteps {
	.well();
	padding: 0;
	border-style: solid;
	border-width: 1px;
}
.foswikiFormStep {
	.fw_component_padding();
	border-style: none none solid none;
	border-width: 1px;
	clear: both;
	
	p,
	.foswikiFormDescription {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	&:last-child {
		border: none;
	}
}

.foswikiInputForm {
	legend {
		.fw_offset(2);
		text-align: left;
	}
	label {
		.columns(2);
		float: left;
		text-align: right;
	}
	ul {
		list-style: none;
		clear: both;
		margin-left: 0;
		
		li {
			display: block;
			
			label {
				float: none;
				margin-left: 0;
				text-align: left;
			}
		}
	}
}
.foswikiInputs {
	.fw_offset(2);
	
	label.foswikiLabel {
		float: none;
		text-align: left;
		width: auto;
	}
}

.foswikiButton,
.jqButton,
.jqButton:hover,
.foswikiSubmit,
.foswikiButtonCancel,
// jqButton with ButtonCancel should not be red
.jqButton.foswikiButtonCancel,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonDisabled,
.foswikiSubmitDisabled,
.foswikiSubmit.foswikiButtonDisabled,
.foswikiButtonCancel.foswikiButtonDisabled {
	.fw_button();
}
.jqButton {
	height: auto;
	float: none;
	margin: 0;
}
.jqButton span {
	background: none;
	float: none;
	height: auto;
	line-height: normal;
	padding: 0;
	margin: 0;
}
.jqButton .jqButtonIcon,
.jqButton:active .jqButtonIcon,
.foswikiButton .foswikiButtonIcon,
.foswikiButton:active .foswikiButtonIcon {
	background-position: 0 50%;
	display: block;
	height: 16px;
}
.foswikiButtonSmall {
	.fw_button.small();
}
.foswikiButtonLarge {
	.fw_button.large();
	.border-radius(@fw_corner_radius_button);
}
