/*
COLOR SCHEMES
*/

.fw_color_scheme(
	@background,
	@color_text,
	@color_header,
	@color_header_h1,
	@color_hint,
	@color_bar_text,
	@color_dropdown_menu_bg,
	@color_dropdown_menu_text,
	@color_dropdown_menu_link,
	@color_dropdown_menu_link_highlight_bg,
	@color_dropdown_menu_link_highlight,
	@color_border,
	@color_border_secondary,
	@color_bg_secondary,
	@color_code,
	@color_code_bg,
	@color_code_border,
	@color_link,
	@color_link_hover,
	@color_text_shadow) {
	
	background: @background;
	color: @color_text;

	h1 {
		color: @color_header_h1;
	}
	h2, h3, h4, h5, h6 {
		color: @color_header;
	}
	
	.foswikiGrayText,
	.foswikiHint {
		color: @color_hint;
	}
	.foswikiButtonGroup {
		border-color: @color_border_secondary;
	}
	a {
		color: @color_link;
	}
	.foswikiButton,
	.foswikiButtonSmall,
	.foswikiButtonLarge {
		&,
		&.a {
			color: @black;
		}
	}
	.foswikiSubmit {
		&,
		&:hover,
		&:active,
		&.a {
			.gradientBar(lighten(@blue, 5%), darken(@blue, 5%));
			color: @white;
		}		
	}
	.foswikiButtonCancel {
		&,
		&:hover,
		&:active,
		&.a {
			.gradientBar(lighten(@red, 5%), darken(@red, 5%));
			color: @white;
		}
	}
	.foswikiButtonDisabled,
	.foswikiSubmitDisabled {
		&,
		&.a,
		&.foswikiButton,
		&.foswikiSubmit,
		&.foswikiButtonCancel,
		&:hover,
		&:active {
			cursor: default;
			background-image: none;
			.reset-filter();
			.opacity(50);
			.box-shadow(none);
			color: @color_hint;
			text-shadow: none;
			background-color: darken(@color_bg_secondary,5%);
			border-color: @color_border_secondary;
		}
	}

	pre,
	code,
	tt,
	kbd,
	samp,
	.foswikiDiffDebug {
		color: @color_code;
		background-color: @color_code_bg;
		border-color: @color_code_border;
	}
	
	.btn {
		color: @color_text;
		&.primary {
			color: @white;
			.gradientBar(@blue, @blueDark)
  		}
	}
	
	.foswikiFormSteps {
		border-top: 1px solid @color_border_secondary;
		background: @color_bg_secondary;
	}
	.foswikiFormStep {
		border-bottom: 1px solid @color_border_secondary;
	}
	.foswikiImage img {
		background: @background;
		border-color: @color_border_secondary;
	}
	
	.foswikiBar,
	&.foswikiBar {
		
		.foswikiTitle,
		.foswikiTitle a {
			text-shadow: @color_text_shadow;
		}
		.foswikiTitle a {
			color: @color_link;
			
			&:hover {
				color: @color_text;
			}
		}
		
		a,
		.open a,
		div > ul a,
		div > ul a.menu {
			color: @color_bar_text;
			&:hover,
			&.open {
				color: @color_text;
			}
		}
		
		.menu-dropdown,
		.dropdown-menu {
			background-color: @color_dropdown_menu_bg;
			color: @color_dropdown_menu_text;
			
			
			p {
				color: lighten(@color_dropdown_menu_text,30%);
				text-shadow: @color_text_shadow;
			}
			li a {
				color: @color_dropdown_menu_link;
				text-shadow: @color_text_shadow;
				&:hover {
					text-shadow: none;
					background: @color_dropdown_menu_link_highlight_bg;
					color: @color_dropdown_menu_link_highlight;
				}
			}
			.active a {
				color: @color_dropdown_menu_link_highlight;
			}
			.divider {
				background-color: darken(@color_dropdown_menu_bg, 12%);
				border-color: lighten(@color_dropdown_menu_bg, 10%);
			}
		}
		
		/*
		open menu buttons,
		.foswikiButtonGroup buttons
		*/
		.open a.menu,
		.dropdown.open a.menu,
		.open .dropdown-toggle,
		.dropdown.open .dropdown-toggle,
		div > ul a.menu:hover,
		div > ul li.open .menu,
		div > ul .dropdown-toggle:hover,
		div > ul .dropdown.open .dropdown-toggle,
		ul.foswikiButtonGroup > li > a:hover,
		ul.foswikiButtonGroup > li > span a:hover {
			#gradient > .vertical-three-colors(#ffffff, #ffffff, 25%, darken(#ffffff, 10%)); // Don't use .gradientbar() here since it does a three-color gradient
			text-shadow: @color_text_shadow;
		}
	
		// color of arrow shape
		a.menu,
		.dropdown-toggle {
			&:after {
				border-top: 4px solid #666;
			}
		}
	}
	
	input[type='text'] {
		background-color: #fff;
  		color: @fw_color_text_light;
  		border-color: rgba(0,0,0,.13);
  		@shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0px rgba(255,255,255,.25);
	    .box-shadow(@shadow);
  		&:-moz-placeholder {
			color: @fw_color_text_light;
		}
		&::-webkit-input-placeholder {
		  color: @fw_color_text_light;
		}
  		&:focus,
		&.focused {
			outline: 0;
			background-color: @white;
			color: @grayDark;
			text-shadow: @color_text_shadow;
			//border: 0;
			.box-shadow(0 0 3px rgba(0,0,0,.15));
		}
  	}
  	input[type='text']:focus,
	textarea:focus {
		outline: 0;
		border-color: rgba(82,168,236,.8);
		@shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
		.box-shadow(@shadow);
	}
}

.fw_color_scheme_dark(@background: #000) {

	// color scheme variables
	@color_text: #ddd;
	@color_header: #eee;
	@color_header_h1: #dda600;
	@color_hint: #888;
	@color_bar_text: #bfbfbf;
	@color_dropdown_menu_bg: #333;
	@color_dropdown_menu_text: darken(@color_bar_text,5%);
	@color_dropdown_menu_link: @color_bar_text;
	@color_dropdown_menu_link_highlight: #fff;
	@color_border: #888;
	@color_border_secondary: #555;
	@color_bg_secondary: #333;
	@color_code: #ddd;
	@color_code_bg: @color_bg_secondary;
	@color_code_border: @color_border_secondary;
	@color_link: #39c;
	@color_link_hover: darken(@color_link, 15);
	
	
	// apply styles
	background: @background;
	
	color: @color_text;
	p,
	li {
		color: @color_text;
	}
	
	h1 {
		color: @color_header_h1;
	}
	h2, h3, h4, h5, h6 {
		color: @color_header;
	}
	
	.foswikiGrayText,
	.foswikiHint {
		color: @color_hint;
	}
	.foswikiButtonGroup {
		border-color: @color_border_secondary;
	}
		a {
		color: @color_link;
	}
	.foswikiButton,
	.foswikiButtonSmall,
	.foswikiButtonLarge {
		&,
		&.a {
			color: @black;
		}
	}
	.foswikiSubmit {
		&,
		&:hover,
		&:active,
		&.a {
			.gradientBar(lighten(@blue, 5%), darken(@blue, 5%));
			color: @white;
		}		
	}
	.foswikiButtonCancel {
		&,
		&:hover,
		&:active,
		&.a {
			.gradientBar(lighten(@red, 5%), darken(@red, 5%));
			color: @white;
		}
	}
	.foswikiButtonDisabled,
	.foswikiSubmitDisabled {
		&,
		&.a,
		&.foswikiButton,
		&.foswikiSubmit,
		&.foswikiButtonCancel,
		&:hover,
		&:active {
			cursor: default;
			background-image: none;
			.reset-filter();
			.opacity(50);
			.box-shadow(none);
			color: @color_hint;
			text-shadow: none;
			background-color: darken(@color_bg_secondary,5%);
			border-color: @color_border_secondary;
		}
	}
	pre,
	code,
	tt,
	kbd,
	samp,
	.foswikiDiffDebug {
		color: @color_code;
		background-color: @color_code_bg;
		border-color: @color_code_border;
	}
	
	.foswikiFormSteps {
		border-top: 1px solid @color_border_secondary;
		background: @color_bg_secondary;
	}
	.foswikiFormStep {
		border-bottom: 1px solid @color_border_secondary;
	}
	.foswikiImage img {
		background: @background;
		border-color: @color_border_secondary;
	}
	
	.foswikiBar,
	&.foswikiBar {
	
		.foswikiTitle,
		.foswikiTitle a {
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
		}
		.foswikiTitle a {
			color: @color_link;
			
			&:hover {
				color: @color_text;
			}
		}
		
		a,
		.open a,
		div > ul a,
		div > ul a.menu {
			color: @color_bar_text;
			&:hover,
			&.open {
				color: @white;
			}
		}
		
		.menu-dropdown,
		.dropdown-menu,
		.menu-dropdown {
			background-color: @color_dropdown_menu_bg;
			color: @color_dropdown_menu_text;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
			
			p {
				color: @color_dropdown_menu_text;
			}
			li a {
				color: @color_dropdown_menu_link;
				text-shadow: none;
				&:hover {
					background: darken(@color_dropdown_menu_bg, 5%);
					#gradient > .vertical(darken(@color_dropdown_menu_bg, 5%),darken(@color_dropdown_menu_bg, 10%));
					color: @color_dropdown_menu_link_highlight;
				}
			}
			.active a {
				color: @color_dropdown_menu_link_highlight;
			}
			.divider {
				background-color: darken(@color_dropdown_menu_bg, 12%);
				border-color: lighten(@color_dropdown_menu_bg, 10%);
			}
		}
		
		.open a.menu,
		.dropdown.open a.menu,
		.dropdown.open .dropdown-toggle,
		div > ul .dropdown-toggle:hover,
		ul.foswikiButtonGroup > li > a:hover {
			color: @white;
			background: #444;
			background: rgba(255,255,255,.05);
		}
	
		// arrow shape
		a.menu:after,
		.dropdown-toggle:after {
			border-top: 4px solid @white;
			.opacity(50);
		}
	}  	
	input[type='text'] {
		background-color: lighten(#222, 15%);
  		color: @fw_color_text_light;
  		border-color: rgba(0,0,0,.13);
  		@shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0px rgba(255,255,255,.25);
	    .box-shadow(@shadow);
  		&:-moz-placeholder {
			color: @fw_color_text_light;
		}
		&::-webkit-input-placeholder {
		  color: @fw_color_text_light;
		}
  		&:focus,
		&.focused {
			outline: 0;
			background-color: @white;
			color: @grayDark;
			text-shadow: 0 1px 0 @white;
			border: 0;
			.box-shadow(0 0 3px rgba(0,0,0,.15));
		}
  	}
  	input[type='text']:focus,
	textarea:focus {
		outline: 0;
		border-color: rgba(82,168,236,.8);
		@shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
		.box-shadow(@shadow);
	}
}

.foswikiColorWhite(@background: #fff) {

	// COLORS:
	// color_background
	// color_text
	// color_header
	// color_header_h1
	// color_hint
	// color_bar_text
	// color_dropdown_menu_bg
	// color_dropdown_menu_text
	// color_dropdown_menu_link
	// color_dropdown_menu_link_highlight_bg
	// color_dropdown_menu_link_highlight
	// color_border
	// color_border_secondary
	// color_bg_secondary
	// color_code
	// color_code_bg
	// color_code_border
	// color_link
	// color_link_hover
	// color_text-shadow
			
	.fw_color_scheme(
		@background,
		#000,
		#444,
		#444,
		#888,
		#333,
		darken(#fff,3%),
		#666,
		#666,
		#333,
		#ddd,
		#dedfe2,
		#e0e0e0,
		#f6f6f6,
		#000,
		#f6f6f6,
		#e0e0e0,
		#0069d6,
		darken(#0069d6, 15),
		0 1px 0 rgba(255, 255, 255, 0.7)
	);
		
	&.foswikiBar {
		border-bottom: 1px solid #dedfe2;
	}
}

.foswikiColorSilver() {
	.foswikiColorWhite(#f0f0f0);
}

.foswikiColorGray() {
	.foswikiColorWhite(#aaa);

/*
	&.foswikiBar {
		@shadow_blend: 0;
		@shadow: 0 1px 3px rgba(@shadow_blend,@shadow_blend,@shadow_blend,.1), inset 0 -1px 0 rgba(0,0,0,.1);
		.box-shadow(@shadow);
	}
*/
}

.foswikiColorBlack() {
	.fw_color_scheme_dark(#222);

/*
	&.foswikiBar {
//		background-color: #222;
//		#gradient > .vertical(#333, #222);
		@shadow_blend: 0;
		@shadow: 0 1px 3px rgba(@shadow_blend,@shadow_blend,@shadow_blend,.25), inset 0 -1px 0 rgba(0,0,0,.1);
		.box-shadow(@shadow);
	}
*/
}

// Set color scheme

.foswikiColorPrimary {
	.foswikiColorWhite();
}
.foswikiColorSecundary {
	.foswikiColorSilver();
}
.foswikiColorNavigationPrimary {
	.foswikiColorBlack();
}
.foswikiColorNavigationSecundary {
	.foswikiColorWhite();
}

@color_bottom_bar: #f2f2f2;

html,
.foswikiBottomBar {
	background: @color_bottom_bar;
}
