/*
OVERRIDES
*/

/* override reset.less */

blockquote:before,
blockquote:after {
	content: none;
}

img {
	vertical-align: text-bottom;
}

/* override forms.less */

select,
input[type='file'] {
	@select_baseline: 18px;
	height: @select_baseline * 1.5; // In IE7, the height of the select element cannot be changed by height, only font-size
	line-height: @select_baseline * 1.5;
}

input[type='text'],
input[type='password'],
textarea,
select,
.uneditable-input {
	.span4();
}

form {
	margin-bottom: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

label,
fieldset legend {
	padding: 0;
	margin: 0;
	text-align: left;
	float: none;
}

/* override patterns.less */

.tabs() {
  > li {
    > a {
      line-height: @baseline;
    }
  }
}

footer {
	margin: 0;
	padding: 0;
	border: none;
}
