
.foswikiBroadcastMessage,
.foswikiNotification,
.foswikiHelp {
	.alert-message();
	.alert-message.block-message();
	.border-radius(0);
}
.foswikiBroadcastMessage,
.foswikiNotification {
	// warning by default
}
.foswikiHelp {
	.alert-message.block-message.info();
}
.foswikiMessage {
	padding: 1px 3px; // same as code
	.border-radius(@fw_block_corner);
	background-color: @fw_color_background_message;
}

.foswikiContainer {
	.container();
	width: auto;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}

.foswikiEditPage {
	.foswikiTopic {
		padding-top: 0;
		margin-top: -1px;
	}
}


.foswikiTopic {
	position: relative;
}

.foswikiBar {
	.topbar;
	.topbar-inner;
	z-index: 0;
	height: auto;
	float: none;
	position: relative;
	margin: 0;
	.fw_menu_padding_vertical_only();
	.box-shadow(none);
	
	form {
		margin: 0 10px 0 0;
		bottom: -6px;
	}

	p {
	    margin: 0;
	}
	
	a {
		text-shadow: none;
	}
	
	ul.menu-dropdown li p,
	ul.menu-dropdown li a,
	ul.dropdown-menu li a,
	ul.dropdown-menu li p {
		padding: 4px 15px;
		line-height: inherit;
	}
	ul.menu-dropdown li p,
	ul.dropdown-menu li p {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 90%;
	}
	
	div > ul {
		.nav();
		
		a {
			padding: @fw_button_padding;
		}
		&.foswikiTitle .foswikiSeparator {
			margin: 0;
			line-height: 1;
			font-size: 1.1em;
			padding: @fw_separator_padding;
		}
		&.foswikiTitle p {
			margin: 0;
			line-height: 1;
			padding: @fw_separator_padding;
		}
	}
}

.foswikiBar.foswikiFixed {
	margin: 0;
	padding: 0;
	z-index: 1;
	background: none;
}

.foswikiTopBar {
	position: relative; // make fixed when having js; see bottom of file
	height: auto;
	min-height: 4px;
	z-index: 2;
	padding-top: 0;
	padding-bottom: 0;
	
	.foswikiLogo a {
		padding: 0;
	}
	
	div > ul {	
		a {
			padding: 10px 10px 11px;
		}
	}
}

.foswikiTopicActions {
	position: relative;
	width: 100%;
	top: 0;
//	.fw_block_padding_vertical_only();
	.box-shadow(none);
	
	a,
	a.dropdown-toggle {
		color: #666;
		&.nolabel {
			padding-left: 1px;
			padding-right: 6px;
		}
		&:hover {
			background: @white;
		}
	}
	
	.foswikiButtonGroup > li {
		.border-radius(0);
		border: none;
	}
	
	.foswikiTopicActionButtons {
		float: right;
		
		ul.secondary-nav {
			float: left;
		}
		
		.foswikiButton,
		.jqButton,
		.foswikiSubmit {
			margin: 0 0 0 6px;
		}
	}
	
	.foswikiTitle li a {
		margin-left: -10px;
	}
	ul.menu-dropdown,
	ul.dropdown-menu {
		min-width: 180px;
		max-width: 260px;
		top: 26px;
	}
}

.foswikiButtonGroup {
	@highlight_border_color: #ddd;
	
	> li {
		border-style: solid;
		border-width: 1px;
		border-color: transparent;
	}
	> li {
		float: left;
		margin-left: -1px;
		.border-radius(0);
	}
	> li:nth-child(n+2) {
		border-left: 1px solid @highlight_border_color;
	}
	> li:nth-child(n+2):hover {
		border-left: 1px solid @highlight_border_color;
	}
	
	> li:first-child {
		.border-radius-left(@fw_block_corner);
	}
	> li:last-child {
		.border-radius-right(@fw_block_corner);
	}
	&:hover > li {
		border-color: @highlight_border_color;
	}
}

.foswikiContextual {
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

/* tables */

.foswikiTable {

	margin-bottom: @baseline;
	padding: 0;
	border-collapse: separate; // Done so we can round those corners!
	*border-collapse: collapse; /* IE7, collapse table to remove spacing */
	border: 1px solid @fw_color_border_light;
	th, td {
		.fw_menu_padding_all();
		line-height: @baseline;
		text-align: left;
	}
	th {
		font-weight: bold;
		vertical-align: middle;
		border-bottom: 1px solid @fw_color_border_light;
	}
	td {
		vertical-align: top;
	}
	th + th,
	td + td {
		border-left: 1px solid @fw_color_border_light;
	}
	tr + tr td {
		border-top: 1px solid @fw_color_border_light;
	}
}

/* miscellaneous */

hr {
	color: #ccc;
	background-color: #ccc;
}




.foswikiPreviewArea {
	border-width: 1px;
	border-style: solid;
	margin: 1em 0;
	padding: 1em;
}
.foswikiSummary em {
	font-weight: bold;
	font-style: normal;
}

.foswikiLogo {}


.foswikiAlert,
.foswikiAlert code {
	color: @fw_color_alert;
}
.foswikiEmulatedLink {
	color: @fw_link_color;
}

/* structural elements */

.foswikiTopic {
	position: relative;
	.fw_block_padding_vertical_only();
}

.foswikiContentFooter {
	.fw_block_padding_vertical_only();
}

.foswikiToolHeader {
	.fw_em_margin_top(@fw_size_p);
	.fw_menu_padding_all();
	background-color: @fw_color_tool_background_gradient_dark;
	.gradientBar(@fw_color_tool_background_gradient_light, @fw_color_tool_background_gradient_dark);
	.border-radius(@fw_block_corner);
	vertical-align: middle;
}

.foswikiToolbar {

	.well();
	.border-radius(0);
  	.box-shadow(0 0px 0px rgba(0,0,0,0));
	.fw_menu_padding_all();
	margin-bottom: @fw_size_padding_menu_em;

	.foswikiToolButtonRow {
		position: relative;
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 5px;
		}
	}

	a:link,
	a:visited {
		color: @fw_color_text;
	}

	.foswikiToolbarHeader {
		float: left;
		line-height: 1;
		.fw_em_font_size(@fw_size_h6);
		.fw_menu_padding_vertical_only();
	}
}



/* table of contents */
.foswikiToc {
	.foswikiTocTitle {
		font-weight: bold;
	}
	ul {
		margin-top: 0;
	}
}



/* search results */
.foswikiSearchResults {}

	.foswikiSearchResult {
		.fw_menu_padding_vertical_only();
		position: relative;
		border-bottom: 1px solid @fw_color_border_light;
		
		.foswikiSearchResultImage img {
			max-width: 70px;
			float:left;
		}
		.foswikiSearchResultTitle {
			font-weight: bold;
		}
		.foswikiSearchResultContents {
			margin: 0 0 0 90px;
		}
	}
	
	.foswikiSearchResultsHeader {}
	.foswikiSearchResultsPager {
		margin:1em 0;
		padding:.25em 0;
	}
	.foswikiSearchResultMeta {
		color: @fw_color_text_light;
	}


/* attachments */

.foswikiAttachments {

	.foswikiAttachment {

		& img,
		& .foswikiIcon img {
			max-width: 16px;
			vertical-align: text-bottom;
		}
		&.foswikiSearchResult .foswikiSearchResultContents {
			margin: 0 0 0 70px;
		}
		
		.foswikiSearchResultTitle {
			a {
				.fw_heading_6();
				color: @fw_color_text;
			}
		}	
		
		.foswikiSearchResultMeta {
			color: @fw_color_hint;
			.foswikiSmall();
			
			a:link,
			a:visited {
				color: @fw_link_color_gray;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-image: none;
	}
	ul {
		clear: both;
	}
	
	&.bsHideDetails .foswikiSearchResultMeta {
		display:none;
	}
}

/* JQueryPlugin styles */

.jqTabGroup {
	.tabs();
	border: none;
}
.jqTabGroup > li {
	top: 0;
}
.jqTabGroup > li a {
	.border-radius(0);
}	
.foswikiTabs ul {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	bottom:0;
}
.foswikiTabs ul li {
	display:inline;
}
.foswikiTabs ul li a,
.foswikiTabs ul li a:link,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li a:visited {
	text-decoration:none;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span {
	display:block;
	float:left;
	border-style:solid;
	border-width:1px;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span {
	border-style:solid;
	border-width:1px;
}
.foswikiTabContent {
	margin:-1px 0 1em 0;
	padding:0;
	border-style:solid;
	border-width:1px;
}
.jqTab,
.foswikiTab,
.foswikiTabContent,
.jqTabContents {
	background:none;
	border:none;
}
.foswikiTabContent,
.jqTabContents {
	border-top:1px solid #ccc;
}
.foswikiTabs ul li a,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li span,
.jqTabPaneSimple > .jqTabGroup a,
.jqTabPaneSimple > .jqTabGroup a:hover {
	border: none;
	background: none;
	color: @fw_color_text_toned_down;
}
.foswikiTabs ul li.foswikiActiveTab a,
.foswikiTabs ul li.foswikiActiveTab a:hover,
.jqTabPaneSimple > .jqTabGroup li.current a,
.jqTabPaneSimple > .jqTabGroup li.current a:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc #ccc #fff #ccc;
	margin:-1px -1px 0 -1px;
	font-weight: bold;
	color: @fw_color_text;
	
	span {
		font-weight: normal;
	}
}
.jqTabPaneSimple > .jqTabGroup a:hover {
	background: #eee;
	border: none;
}

.jqTab {
	border: none;
}
.jqTabPane {
	.fw_inline_p();
	.fw_block_p();
}
.jqTabContents {
	.fw_menu_padding_all();
	padding-top: 0;
	
	h4 {
		margin-top: 0;
		padding-top: 0;
	}
	.foswikiToolbar {
		margin-left: -@fw_size_padding_menu_px;
		margin-right: -@fw_size_padding_menu_px;
	}

}
.jqTabPaneSimple .jqTabGroup a,
.jqTabPaneSimple .jqTabGroup a:hover {
	.fw_menu_padding_all();
}

/* vertical theme */
.jqTabPane.jqTabPaneSimplevertical {

	@tmp_menucolspan: 4;
	@tmp_menu_width: (@gridColumnWidth * @tmp_menucolspan) + (@gridGutterWidth * (@tmp_menucolspan - 1));
	@tmp_color_background_normal: #eaeef3;
	@tmp_color_background_selected: #fff;

	position: relative;
	border-top: 1px solid @fw_color_border_medium;
	
	ul.jqTabGroup {
		width: 0px + @fw_strand2_ratio_up_7 - 2 * @fw_contentSidePadding;
		float: none;
		
		li {
			position: relative;
		}
		
		li img {
			vertical-align: text-bottom;
		}
		
		li a {
			.fw_menu_padding_all();
			display: block;
			margin: -1px 0 0 0;
			background-color: @tmp_color_background_normal;
			color: @fw_color_text;
			width: @tmp_menu_width - 2*@fw_size_padding_menu_px;
			border-style: solid none;
			border-color:@fw_color_border_medium;
			border-width: 1px;
			&:hover {
				background-color: @tmp_color_background_selected;
				color: @fw_color_text;
			}
		}
		li.current a,
		li.current a:hover {
			background-color: @tmp_color_background_selected;
		}

		li.current a:after,
		li a:hover:after {
			content:"";
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			line-height: 0;
			font-size: 0;
			border-width:4px;
			margin: -5px 5px 0 0;
			border-style: solid;
			border-color: transparent transparent transparent @fw_color_heading_secondary;
		}

			
	}
	span.foswikiClear {
		clear: none;
	}
	.jqTab {
		position: absolute;
		top: 0;
		left: @tmp_menu_width + 1.5 * @gridGutterWidth;
		width: (@gridColumnWidth * (@gridColumns - @tmp_menucolspan)) + (@gridGutterWidth * ((@gridColumns - @tmp_menucolspan) - 1)) - (0.5 * @gridGutterWidth);
	}
	
	.jqTabContents {
		border: none;
	}
	
	label {
		width: auto;
		float: none;
	}
}

.foswikiHasFixed {
	
	// if topic actions are fixed
	.foswikiFixed {
		position: fixed;
		top: 0;
	}
}

/* extensions */

.foswikiEditTextarea {
	#topic,
	#topic_tbl {
		width: 100% !important;
	}
}
body div.mceExternalToolbar {
    position: fixed;
    top: -28px;
}

/* TinyMCEPlugin */

#topic_external {
	display: block !important; /* always show */
}
// create space above
.foswikiBar {
	.o2k7Skin td.mceToolbar {
		background: none;
	}
	.o2k7Skin .mceSeparator {
		background: none;
	}
}
.o2k7SkinBlack table.mceLayout tr.mceLast td {
	border: 1px solid #ddd !important;
}

.o2k7SkinBlack .mceExternalToolbar,
.o2k7SkinBlack .mceListBox .mceText,
.o2k7SkinBlack div.mceMenu,
.o2k7SkinBlack table.mceLayout,
.o2k7SkinBlack table.mceLayout tr.mceFirst td,
.o2k7SkinBlack table.mceLayout,
.o2k7SkinBlack table.mceLayout tr.mceLast td,
.o2k7SkinBlack .mceIframeContainer {
	border-color: #ddd !important;
}

.o2k7SkinBlack td.mceStatusbar,
.o2k7SkinBlack .mceMenuItemTitle span.mceText,
.o2k7SkinBlack .mceStatusbar div,
.o2k7SkinBlack .mceStatusbar span {
	background-color: #ddd !important;
}
