
.foswikiBroadcastMessage,
.foswikiNotification,
.foswikiHelp {
	.alert-message();
	.alert-message.block-message();
	.border-radius(0);
}
.foswikiBroadcastMessage,
.foswikiNotification {
	// warning by default
}
.foswikiHelp {
	.alert-message.block-message.info();
}
.foswikiMessage {
	padding: 1px 3px; // same as code
	.border-radius(@fw_block_corner);
	background-color: @fw_color_background_message;
}

.foswikiContainer {
	.container();
	width: auto;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 39px;
}

.foswikiTopic {
	position: relative;
}

.foswikiBar {
	.topbar;
	.topbar-inner;
	height: auto;
	float: none;
	position: relative;
	margin: 0;
	padding: 0;
	.box-shadow(none);
	
	form {
		margin: 0 10px 0 0;
		bottom: -6px;
	}
	input[type='text'] {
		@tmp_baseline: 13px;
		height: @tmp_baseline * 1.5; // In IE7, the height of the select element cannot be changed by height, only font-size
		line-height: @tmp_baseline * 1.5;
		.border-radius(@fw_block_corner);
	}

	p {
	    margin: 0;
	}
	
	a {
		text-shadow: none;
	}
	
	ul.menu-dropdown li p,
	ul.menu-dropdown li a,
	ul.dropdown-menu li a,
	ul.dropdown-menu li p {
		padding: 4px 15px;
		line-height: inherit;
	}
	ul.menu-dropdown li p,
	ul.dropdown-menu li p {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 90%;
	}
}

.foswikiBar div > ul {
	.nav();
}

.foswikiTopBar {
	position: relative; // make fixed when having js; see bottom of file
	height: auto;
	z-index: 2;
		
	.foswikiLogo a {
		padding: 0 0 0 10px;
	}
}

.foswikiTopicActions {
	position: relative;
	width: 100%;
	z-index: 1;
	top: 0;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	.box-shadow(none);
	
	@elem_padding: 4px 7px 5px; // a bit smaller than .btn

	.foswikiTopicActionButtons {
		float: right;
		
		ul.secondary-nav {
			float: left;
			margin-left: 0;
			margin-right: 10px;
		}
	}
	
	.nav > li {
		padding: 0;
		margin: 3px 0;
		//background-color: @white;
		//border: 1px solid @fw_color_border_light;
		border: none;
		background: none;
		&:hover {
			background: @white;
		}
		a,
		a.dropdown-toggle {
			padding: @elem_padding;
			color: #666;
			
			&.nolabel {
				padding: 4px 6px 5px 3px;
			}
			&:hover {
				background: @white;
			}
		}
	}
	.foswikiTitle li a {
		padding: @elem_padding;
		padding-left: 10px;
		margin: 3px 0;
	}
	ul.menu-dropdown,
	ul.dropdown-menu {
		min-width: 180px;
		max-width: 260px;
		top: 26px;
	}
}

.foswikiButtonGroup > li {
    float: left;
    margin: -1px;
    .border-radius(0);
}
.foswikiButtonGroup > li:nth-child(n+2) {
    border-left: none;
}
.foswikiButtonGroup > li:first-child {
	.border-radius-left(@fw_block_corner);
}
.foswikiButtonGroup > li:last-child {
	.border-radius-right(@fw_block_corner);
}

/* tables */

.foswikiTable {

	margin-bottom: @baseline;
	padding: 0;
	border-collapse: separate; // Done so we can round those corners!
	*border-collapse: collapse; /* IE7, collapse table to remove spacing */
	border: 1px solid @fw_color_border_light;
	th, td {
		.fw_menu_padding_all();
		line-height: @baseline;
		text-align: left;
	}
	th {
		font-weight: bold;
		vertical-align: middle;
		border-bottom: 1px solid @fw_color_border_light;
	}
	td {
		vertical-align: top;
	}
	th + th,
	td + td {
		border-left: 1px solid @fw_color_border_light;
	}
	tr + tr td {
		border-top: 1px solid @fw_color_border_light;
	}
}

/* miscellaneous */

hr {
	color: #ccc;
	background-color: #ccc;
}




.foswikiPreviewArea {
	border-width: 1px;
	border-style: solid;
	margin: 1em 0;
	padding: 1em;
}
.foswikiSummary em {
	font-weight: bold;
	font-style: normal;
}

.foswikiLogo {}


.foswikiAlert,
.foswikiAlert code {
	color: @fw_color_alert;
}
.foswikiEmulatedLink {
	color: @fw_link_color;
}

/* structural elements */

.foswikiTopic {
	position: relative;
	@padding_top: @fw_strand1_ratio_up_1 / @basefont;
	padding-top: 0em + @padding_top;
	padding-bottom: 0em + @fw_strand1_ratio_up_3 / @basefont;
}

.foswikiTopicText {
	padding: 0 10px; // same as menu elements so labels and content align
}

.foswikiToolHeader {
	.fw_em_margin_top(@fw_size_p);
	.fw_menu_padding_all();
	background-color: @fw_color_tool_background_gradient_dark;
	.gradientBar(@fw_color_tool_background_gradient_light, @fw_color_tool_background_gradient_dark);
	.border-radius(@fw_block_corner);
	vertical-align: middle;
}

.foswikiToolbar {

	.well();
	.border-radius(0);
  	.box-shadow(0 0px 0px rgba(0,0,0,0));
	.fw_menu_padding_all();
	margin-bottom: @fw_size_padding_menu_em;

	.foswikiToolButtonRow {
		position: relative;
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 5px;
		}
	}

	a:link,
	a:visited {
		color: @fw_color_text;
	}

	.foswikiToolbarHeader {
		float: left;
		line-height: 1;
		.fw_em_font_size(@fw_size_h6);
		.fw_menu_padding_vertical_only();
	}
}



/* table of contents */
.foswikiToc {
	.foswikiTocTitle {
		font-weight: bold;
	}
	ul {
		margin-top: 0;
	}
}



/* search results */
.foswikiSearchResults {}

	.foswikiSearchResult {
		.fw_menu_padding_vertical_only();
		position: relative;
		border-bottom: 1px solid @fw_color_border_light;
		
		.foswikiSearchResultImage img {
			max-width: 70px;
			float:left;
		}
		.foswikiSearchResultTitle {
			font-weight: bold;
		}
		.foswikiSearchResultContents {
			margin: 0 0 0 90px;
		}
	}
	
	.foswikiSearchResultsHeader {}
	.foswikiSearchResultsPager {
		margin:1em 0;
		padding:.25em 0;
	}
	.foswikiSearchResultMeta {
		color: @fw_color_text_light;
	}


/* attachments */

.foswikiAttachments {

	.foswikiAttachment {

		& img,
		& .foswikiIcon img {
			max-width: 16px;
			vertical-align: text-bottom;
		}
		&.foswikiSearchResult .foswikiSearchResultContents {
			margin: 0 0 0 70px;
		}
		
		.foswikiSearchResultTitle {
			a {
				.fw_heading_6();
				color: @fw_color_text;
			}
		}	
		
		.foswikiSearchResultMeta {
			color: @fw_color_hint;
			.foswikiSmall();
			
			a:link,
			a:visited {
				color: @fw_link_color_gray;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-image: none;
	}
	ul {
		clear: both;
	}
	
	&.bsHideDetails .foswikiSearchResultMeta {
		display:none;
	}
}

/* JQueryPlugin styles */

.jqTabGroup {
	.tabs();
	border: none;
}
.jqTabGroup > li {
	top: 0;
}
.jqTabGroup > li a {
	.border-radius(0);
}	
.foswikiTabs ul {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	bottom:0;
}
.foswikiTabs ul li {
	display:inline;
}
.foswikiTabs ul li a,
.foswikiTabs ul li a:link,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li a:visited {
	text-decoration:none;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span {
	display:block;
	float:left;
	border-style:solid;
	border-width:1px;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span {
	border-style:solid;
	border-width:1px;
}
.foswikiTabContent {
	margin:-1px 0 1em 0;
	padding:0;
	border-style:solid;
	border-width:1px;
}
.jqTab,
.foswikiTab,
.foswikiTabContent,
.jqTabContents {
	background:none;
	border:none;
}
.foswikiTabContent,
.jqTabContents {
	border-top:1px solid #ccc;
}
.foswikiTabs ul li a,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li span,
.jqTabPaneSimple > .jqTabGroup a,
.jqTabPaneSimple > .jqTabGroup a:hover {
	border: none;
	background: none;
	color: @fw_color_text_toned_down;
}
.foswikiTabs ul li.foswikiActiveTab a,
.foswikiTabs ul li.foswikiActiveTab a:hover,
.jqTabPaneSimple > .jqTabGroup li.current a,
.jqTabPaneSimple > .jqTabGroup li.current a:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc #ccc #fff #ccc;
	margin:-1px -1px 0 -1px;
	font-weight: bold;
	color: @fw_color_text;
	
	span {
		font-weight: normal;
	}
}
.jqTabPaneSimple > .jqTabGroup a:hover {
	background: #eee;
	border: none;
}

.jqTab {
	border: none;
}
.jqTabPane {
	.fw_inline_p();
	.fw_block_p();
}
.jqTabContents {
	.fw_menu_padding_all();
	padding-top: 0;
	
	h4 {
		margin-top: 0;
		padding-top: 0;
	}
	.foswikiToolbar {
		margin-left: -@fw_size_padding_menu_px;
		margin-right: -@fw_size_padding_menu_px;
	}

}
.jqTabPaneSimple .jqTabGroup a,
.jqTabPaneSimple .jqTabGroup a:hover {
	.fw_menu_padding_all();
}

/* vertical theme */
.jqTabPane.jqTabPaneSimplevertical {

	@tmp_menucolspan: 4;
	@tmp_menu_width: (@gridColumnWidth * @tmp_menucolspan) + (@gridGutterWidth * (@tmp_menucolspan - 1));
	@tmp_color_background_normal: #eaeef3;
	@tmp_color_background_selected: #fff;

	position: relative;
	border-top: 1px solid @fw_color_border_medium;
	
	ul.jqTabGroup {
		width: 0px + @fw_strand2_ratio_up_7 - 2 * @fw_contentSidePadding;
		float: none;
		
		li {
			position: relative;
		}
		
		li img {
			vertical-align: text-bottom;
		}
		
		li a {
			.fw_menu_padding_all();
			display: block;
			margin: -1px 0 0 0;
			background-color: @tmp_color_background_normal;
			color: @fw_color_text;
			width: @tmp_menu_width - 2*@fw_size_padding_menu_px;
			border-style: solid none;
			border-color:@fw_color_border_medium;
			border-width: 1px;
			&:hover {
				background-color: @tmp_color_background_selected;
				color: @fw_color_text;
			}
		}
		li.current a,
		li.current a:hover {
			background-color: @tmp_color_background_selected;
		}

		li.current a:after,
		li a:hover:after {
			content:"";
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			line-height: 0;
			font-size: 0;
			border-width:4px;
			margin: -5px 5px 0 0;
			border-style: solid;
			border-color: transparent transparent transparent @fw_color_heading_secondary;
		}

			
	}
	span.foswikiClear {
		clear: none;
	}
	.jqTab {
		position: absolute;
		top: 0;
		left: @tmp_menu_width + 1.5 * @gridGutterWidth;
		width: (@gridColumnWidth * (@gridColumns - @tmp_menucolspan)) + (@gridGutterWidth * ((@gridColumns - @tmp_menucolspan) - 1)) - (0.5 * @gridGutterWidth);
	}
	
	.jqTabContents {
		border: none;
	}
	
	label {
		width: auto;
		float: none;
	}
}

.foswikiFixedTopBar {
	
	// if topic actions are fixed
	.foswikiTopicActions {
		position: fixed;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.foswikiTopic {
		// make room for fixed top bar: add top bar height
		@padding_top: @fw_strand1_ratio_up_1 / @basefont;
//		padding-top: 0em + @fw_topbar_height / @basefont + @padding_top;
	}
}
