/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

.foswikiPage {
	padding: 20px 60px;
	width: 648px;
	-webkit-tap-highlight-color: rgb(255,255,0);
}


/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	.foswikiPage {
		margin:0 auto;
		padding: 0 72px;
		width: 1068px;
	}

	.foswikiHeader {
		width: 1068px;
		padding:0 24px;
		background:#eee;
	}
	
	/*
	foswikiContent is 10 columns wide, and includes four gutters between those colums. So, (10 x 60) + (9 x 24) = 816. With 24px of padding on either side, that leaves 768px for the width of the div.
	For the sidebar, the math is (3 x 60) + (2 x 24) = 228. The full width of the layout is then made up with the 24 pixels of margin on foswikiContent.
	*/
	.foswikiTopic {
		float:left;
		width:768px;
		margin:0 24px 24px 0;
		padding:0 24px;
	} 
	.sidebar {
		float:right;
		width:228px;
	}

	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	.foswikiPage {
		padding: 20px 42px;
		width: 396px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%; 
	}
	
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	.foswikiPage {
		padding: 20px 46px;
		width: 228px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}
	
}


/*	Overrides for iPhone 4 
	and other high device-pixel-ratio devices
	-----------------------------------------	*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
}