/*
 * STRUCTURAL PAGE ELEMENTS
 * -------------------------------------------------------------------------- */

body {
	margin: 0;
}

.foswikiSection {
	position: relative;
	border-style: solid none none none;
	border-width: 1px;
}

header .foswikiSection:first-child {
	margin: 0;
}

.foswikiMain {}