/*
Typographic grid using modular scales
see http://vimeo.com/17079380 and http://modularscale.com/
*/
/* colors */
/* corners */
/* reset values set in base.css */
.jqTab {
  margin: 0;
  padding: 0;
  border: none; }

body,
select,
input,
textarea {
  color: #000;
  font-family: sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/*
You will find 2 ways to set the line height of elements, and they are both wrong:

   1. @body_line_height / @size : leads to very small line heights that cause overlap
   2. don't set line height at all but let the browser use body's line height : with a setting of 1.5 that leads to very high line heights with too much whitespace.

The solution is to use line-height: 1 (right, no em!) for headers, and the desired line height for normal text only.
*/
body {
  font-size: 13px;
  line-height: 1.618; }

h1 {
  font-size: 2.769em;
  line-height: 1;
  margin-top: 0.584em;
  margin-bottom: 0.584em;
  border-bottom: 3px double #ccc;
  font-family: georgia, serif;
  font-style: italic; }

h2 {
  font-size: 2.25em;
  line-height: 1;
  margin-top: 0.719em;
  margin-bottom: 0.719em; }

h3 {
  font-size: 1.846em;
  line-height: 1;
  margin-top: 0.876em;
  margin-bottom: 0.876em; }

h4,
.foswikiLarge {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 1.079em;
  margin-bottom: 1.079em; }

h5 {
  font-size: 1.231em;
  line-height: 1;
  margin-top: 1.315em;
  margin-bottom: 1.315em; }

h6 {
  font-size: 1em;
  line-height: 1;
  margin-top: 1.618em;
  margin-bottom: 1.618em;
  text-transform: uppercase; }

p,
pre,
blockquote,
iframe,
label,
address,
td,
th,
ul,
ol,
dl,
hr,
.foswikiTable,
.jqTabPane,
.foswikiBroadcastMessage,
.foswikiImage,
.foswikiMessage,
.foswikiNotification,
.foswikiAttachments {
  font-size: 1em;
  line-height: 1.618em;
  margin-top: 1.618em;
  margin-bottom: 1.618em; }

dt,
li {
  font-size: 1em; }

/* smaller text */
blockquote {
  line-height: 1.798em;
  font-size: 0.9em;
  margin-top: 1.798em;
  margin-bottom: 1.798em; }

.foswikiSmallish {
  font-size: 0.9em;
  line-height: 1.798em; }

small,
.foswikiSmall {
  font-size: 0.821em;
  line-height: 1.972em; }

/* paragraph indenting for readability */
p {
  text-indent: 1.618em; }

div + p,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
p.first,
pre + p,
p:first-child,
ul + p,
ol + p {
  text-indent: 0; }

hr {
  height: 1px;
  border: none;
  margin-top: -1px;
  /* for the height */ }

/* correct for nested elements */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0; }

/* prevent double padding with bullet list in block */
blockquote ol:first-child,
pre ol:first-child,
.foswikiHelp ol:first-child,
.foswikiBroadcastMessage ol:first-child,
.foswikiNotification ol:first-child,
blockquote ul:first-child,
pre ul:first-child,
.foswikiHelp ul:first-child,
.foswikiBroadcastMessage ul:first-child,
.foswikiNotification ul:first-child {
  margin-top: 0;
  margin-bottom: 0; }

li ul,
li ol,
ul ul,
ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0; }

li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
li p {
  top: 0; }

/* consistent block size */
blockquote,
pre,
.foswikiHelp,
.foswikiBroadcastMessage,
.foswikiNotification {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 19.5px;
  padding-right: 19.5px; }

/* if we don't use a background or border for blockquotes, we don't need the top and bottom padding */
blockquote {
  padding-top: 0;
  padding-bottom: 0; }

/* code texts */
pre,
code,
tt,
kbd,
samp,
.foswikiDiffDebug {
  font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Courier", monospace;
  font-size: 0.9em; }

dd,
ul, ol {
  margin-left: 21.034px; }

a:link,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* buttons */
.jqButton {
  line-height: 1.618em; }

a.jqButton:hover,
a.jqButton.jqButtonDefault:hover,
button.jqButton:hover,
button.jqButton.jqButtonDefault:hover {
  color: #fff; }

/* tabs */
.jqTabContents {
  padding: 0; }

.jqTabPaneSimple > .jqTabGroup a,
.jqTabPaneSimple > .jqTabGroup a:hover {
  padding-top: 0.444em;
  padding-bottom: 0.444em;
  padding-left: 13px;
  padding-right: 13px; }

/* structural elements */
.foswikiContent,
.foswikiTopBarContents {
  width: 980px;
  padding-left: 28.68px;
  padding-right: 28.68px;
  margin: 0 auto; }

.foswikiContent {
  position: relative;
  padding-top: 2.25em;
  padding-bottom: 2.25em; }

.foswikiToolHeader {
  position: relative;
  padding-top: 0.444em;
  padding-bottom: 0.444em;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #dbdbdb;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f2f2f2', endColorstr='#dbdbdb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#dbdbdb')";
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f2f2f2), to(#dbdbdb));
  background: -moz-linear-gradient(-90deg, #f2f2f2, #dbdbdb);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dbdbdb; }
  .foswikiToolHeader ul.foswikiToolButtonRow {
    position: relative;
    margin: -1px 0 0 0;
    float: right;
    padding: 0;
    list-style: none; }
  .foswikiToolHeader a:link,
  .foswikiToolHeader a:visited {
    color: #222222; }
  .foswikiToolHeader a.jqButton {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.798em; }
  .foswikiToolHeader a.jqButton:hover {
    color: #fff; }
  .foswikiToolHeader .foswikiSort {
    margin-left: 0.444em; }

/* attachments */
.foswikiAttachments .foswikiAttachment {
  padding-top: 0.444em;
  padding-bottom: 0.444em;
  padding-left: 13px;
  padding-right: 13px; }
  .foswikiAttachments .foswikiAttachment a:link,
  .foswikiAttachments .foswikiAttachment a:visited {
    color: #222222; }
  .foswikiAttachments .foswikiAttachment img {
    max-width: 16px; }
  .foswikiAttachments .foswikiAttachment .foswikiAction {
    float: right; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultContents {
    margin-left: 36px; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultTitle a {
    font-weight: bold; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultMeta {
    line-height: 1.798em;
    font-size: 0.9em;
    color: #aaa; }
    .foswikiAttachments .foswikiAttachment .foswikiSearchResultMeta a:link,
    .foswikiAttachments .foswikiAttachment .foswikiSearchResultMeta a:visited {
      color: #777; }
.foswikiAttachments ul, .foswikiAttachments li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }
.foswikiAttachments ul {
  clear: both; }

/* colors */
a:link:focus,
a:visited:focus,
a:link,
a:link:active,
a:visited:active {
  color: #0066cc; }

a:visited {
  color: #0066cc; }

::-moz-selection {
  background: #0066cc;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #0066cc;
  color: #fff;
  text-shadow: none; }

hr {
  color: #ccc;
  background-color: #ccc; }

pre {
  background: #f5f5f5; }

/* dev */
.foswikiDevGrid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.foswikiDevGridRow {
  width: 100%;
  height: 20.034px;
  border-style: none none solid none;
  border-color: rgba(0, 0, 255, 0.1);
  border-width: 1px; }

.foswikiDevGridCol {
  border-style: none none none solid;
  border-color: rgba(0, 0, 255, 0.1);
  border-width: 1px; }
