/*
Typographic grid using modular scales
see http://vimeo.com/17079380 and http://modularscale.com/
*/
/* colors */
/* corners */
/*
@mixin block_padding_flattened ($hide_side_padding: 0) {
	padding-top: $size_block_padding_flattened_em;
	padding-bottom: $size_block_padding_flattened_em;
	@if $hide_side_padding != 1 {
		padding-left: $size_block_padding_flattened_px;
		padding-right: $size_block_padding_flattened_px;
	} @else {
		padding-left: 0;
		padding-right: 0;
	}
}
*/
/*
@mixin block_padding_small ($hide_side_padding: 0) {
	padding-top: $size_block_padding_small_em;
	padding-bottom: $size_block_padding_small_em;
	@if $hide_side_padding != 1 {
		padding-left: $size_block_padding_small_px;
		padding-right: $size_block_padding_small_px;
	} @else {
		padding-left: 0;
		padding-right: 0;
	}
}
*/
/* reset values set in base.css */
body {
  width: 100%; }

.jqTab {
  margin: 0;
  padding: 0;
  border: none; }

body,
select,
input,
textarea {
  color: black;
  font-family: sans-serif; }

p {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/*
You will find 2 ways to set the line height of elements, and they are both wrong:

   1. @body_line_height / @size : leads to very small line heights that cause overlap
   2. don't set line height at all but let the browser use body's line height : with a setting of 1.5 that leads to very high line heights with too much whitespace.

The solution is to use line-height: 1 (right, no em!) for headers, and the desired line height for normal text only.
*/
body {
  font-size: 13px;
  line-height: 1.615em; }

h1 {
  font-size: 2.769em;
  line-height: 1;
  margin-top: 0.583em;
  margin-bottom: 0.583em; }

.foswikiViewPage h1 {
  color: #3fa209; }

h2 {
  font-size: 2.25em;
  line-height: 1;
  margin-top: 0.718em;
  margin-bottom: 0.718em; }

h3,
.foswikiManagePage h1 {
  font-size: 1.846em;
  line-height: 1;
  margin-top: 0.875em;
  margin-bottom: 0.875em; }

h4,
.foswikiLarge,
.foswikiManagePage h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 1.077em;
  margin-bottom: 1.077em; }

h5,
.foswikiManagePage h3 {
  font-size: 1.231em;
  line-height: 1;
  margin-top: 1.313em;
  margin-bottom: 1.313em; }

.foswikiViewPage h5 {
  font-variant: small-caps; }

h6,
.foswikiManagePage h4 {
  font-size: 1em;
  line-height: 1;
  margin-top: 1.615em;
  margin-bottom: 1.615em; }

.foswikiViewPage h6 {
  font-variant: small-caps; }

h2, h3, h4, h5, h6 {
  color: #222222; }

p,
pre,
blockquote,
iframe,
label,
address,
select,
td,
th,
ul,
ol,
dl,
hr,
input,
textarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
input[type="text"],
input[type="password"],
.foswikiTable,
.jqTabPane,
.foswikiBroadcastMessage,
.foswikiImage,
.foswikiMessage,
.foswikiNotification,
.foswikiAttachments {
  font-size: 1em;
  line-height: 1.615em; }

/* vertical margin for block level elements */
p,
pre,
blockquote,
iframe,
address,
ul,
ol,
dl,
hr,
.foswikiTable,
.jqTabPane,
.foswikiBroadcastMessage,
.foswikiImage,
.foswikiMessage,
.foswikiNotification,
.foswikiAttachments,
.foswikiFormSteps {
  margin-top: 1.615em;
  margin-bottom: 1.615em; }

dt,
li {
  font-size: 1em; }

/* smaller text */
.foswikiSmallish {
  font-size: 0.9em;
  line-height: 1.795em; }

small,
.foswikiSmall {
  font-size: 0.821em;
  line-height: 1.969em; }

/* consistent block size */
blockquote,
pre,
.foswikiHelp,
.foswikiBroadcastMessage,
.foswikiNotification {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 19.5px;
  padding-right: 19.5px; }
  blockquote li,
  pre li,
  .foswikiHelp li,
  .foswikiBroadcastMessage li,
  .foswikiNotification li {
    list-style-type: circle; }

.foswikiFormSteps {
  border-top: 1px solid #dddddd; }
  .foswikiFormSteps h3, .foswikiFormSteps h4, .foswikiFormSteps h5, .foswikiFormSteps h6 {
    color: #53637d; }

.foswikiFormStep {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #dddddd; }
  .foswikiFormStep p {
    margin-bottom: 0; }

/* if we don't use a background or border for blockquotes, we don't need the top and bottom padding */
blockquote {
  padding-top: 0;
  padding-bottom: 0;
  font-family: georgia, serif;
  font-style: italic; }

/* code texts */
body pre,
body code,
body tt,
body kbd,
body samp,
body .foswikiDiffDebug,
blockquote pre,
blockquote code,
blockquote tt,
blockquote kbd,
blockquote samp,
blockquote .foswikiDiffDebug {
  font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Courier", monospace;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.795em; }

pre {
  background: #f5f5f5; }

dd,
ul,
ol {
  margin-left: 21px; }

/* prevent double padding with bullet list in block */
blockquote ol:first-child,
pre ol:first-child,
.foswikiHelp ol:first-child,
.foswikiBroadcastMessage ol:first-child,
.foswikiNotification ol:first-child,
blockquote ul:first-child,
pre ul:first-child,
.foswikiHelp ul:first-child,
.foswikiBroadcastMessage ul:first-child,
.foswikiNotification ul:first-child {
  margin-top: 0;
  margin-bottom: 0; }

/* links */
a:link,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:link:focus,
a:visited:focus,
a:link,
a:link:active,
a:visited:active {
  color: #0066cc; }

a:visited {
  color: #0066cc; }

/* form elements */
input[type="text"],
input[type="password"] {
  padding-left: 5px;
  padding-right: 5px; }

/* buttons */
/* set button height */
a.jqButton, a.jqButton:hover,
a.foswikiButton,
a.foswikiButton:hover,
button.jqButton,
button.jqButton:hover,
button.foswikiButton,
button.foswikiButton:hover,
.foswikiSubmit,
.foswikiSubmit:hover,
input.foswikiSubmit,
input.foswikiSubmit:hover {
  line-height: 1.615em;
  font-size: 13px;
  font-family: sans-serif; }

/* miscellaneous */
hr {
  color: #ccc;
  background-color: #ccc; }

::-moz-selection {
  background: #3fa209;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #3fa209;
  color: #fff;
  text-shadow: none; }

.foswikiGrayText,
.foswikiHint {
  color: #999999; }

/* tabs */
.jqTabContents {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-right: 0; }
  .jqTabContents :first-child {
    margin-top: 0; }

.jqTabPaneSimple .jqTabGroup a,
.jqTabPaneSimple .jqTabGroup a:hover {
  padding-top: 0.444em;
  padding-bottom: 0.444em;
  padding-left: 10.667px;
  padding-right: 10.667px; }

/* structural elements */
.foswikiTopic,
.foswikiTopBarContents {
  width: 922.641px;
  padding-left: 28.68px;
  padding-right: 28.68px;
  margin: 0 auto; }

.foswikiTopic {
  position: relative;
  padding-top: 2.25em;
  padding-bottom: 2.25em; }

.foswikiToolHeader {
  margin-top: 1.615em;
  padding-top: 0.444em;
  padding-bottom: 0.444em;
  padding-left: 10.667px;
  padding-right: 10.667px;
  background-color: #cacaca;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#e7e7e7', endColorstr='#cacaca');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cacaca')";
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#e7e7e7), to(#cacaca));
  background: -moz-linear-gradient(-90deg, #e7e7e7, #cacaca);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  vertical-align: middle; }
  .foswikiToolHeader ul.foswikiToolButtonRow {
    position: relative;
    margin: 0;
    float: right;
    padding: 0;
    list-style: none; }
    .foswikiToolHeader ul.foswikiToolButtonRow li {
      float: right;
      margin-left: 5px; }
  .foswikiToolHeader span {
    margin-left: 1em; }
  .foswikiToolHeader input[type="checkbox"] {
    color: red; }
  .foswikiToolHeader a:link,
  .foswikiToolHeader a:visited {
    color: #222222; }
  .foswikiToolHeader a.foswikiSort {
    margin-left: 0.444em; }

/* attachments */
.foswikiAttachments h4 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0;
  padding-bottom: 0; }
.foswikiAttachments .foswikiAttachment {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 13px;
  padding-right: 13px; }
  .foswikiAttachments .foswikiAttachment a:link,
  .foswikiAttachments .foswikiAttachment a:visited {
    color: #222222; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultContents {
    margin-left: 36px; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultTitle a {
    font-size: 1em; }
  .foswikiAttachments .foswikiAttachment .foswikiSummary {
    font-style: italic;
    font-family: georgia, serif; }
  .foswikiAttachments .foswikiAttachment .foswikiSearchResultMeta,
  .foswikiAttachments .foswikiAttachment .foswikiSummary {
    color: #999999; }
.foswikiAttachments ul, .foswikiAttachments li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }
.foswikiAttachments ul {
  clear: both; }
.foswikiAttachments.bsHideDetails .foswikiSearchResultMeta {
  display: none; }

/* vertical theme */
.jqTabPane.jqTabPaneSimplevertical {
  position: relative;
  border-top: 1px solid #dedfe2; }
  .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup {
    width: 216.016px;
    float: none; }
    .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li {
      position: relative; }
    .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li img {
      vertical-align: text-bottom; }
    .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li a {
      padding-top: 0.444em;
      padding-bottom: 0.444em;
      padding-left: 10.667px;
      padding-right: 10.667px;
      display: block;
      background-color: #eaeef3;
      color: #222222;
      width: 190.016px;
      border-bottom: 1px solid #dedfe2; }
      .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li a:hover {
        background-color: white;
        color: #000; }
    .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li.current a, .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li.current a:hover {
      background-color: white; }
    .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li.current a:after, .jqTabPane.jqTabPaneSimplevertical ul.jqTabGroup li a:hover:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      line-height: 0;
      font-size: 0;
      border-width: 4px;
      margin: -5px 5px 0 0;
      border-style: solid;
      border-color: transparent transparent transparent #ccc; }
  .jqTabPane.jqTabPaneSimplevertical span.foswikiClear {
    clear: none; }
  .jqTabPane.jqTabPaneSimplevertical .jqTab {
    position: absolute;
    width: 706.625px;
    left: 216.016px;
    padding-left: 29.25px; }
  .jqTabPane.jqTabPaneSimplevertical .jqTabContents {
    border: none; }
  .jqTabPane.jqTabPaneSimplevertical .foswikiFormStep:last-child {
    border: none; }

/* EXTENSION SPECIFIC */
.foswikiAjaxPage .foswikiTopic {
  width: 461.32px;
  padding-left: 14.34px;
  padding-right: 14.34px;
  padding-bottom: 0; }

.foswikiAjaxPage .foswikiFormStep {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0; }
.foswikiAjaxPage h2 {
  margin-top: 0.875em;
  margin-bottom: 0.875em; }
.foswikiAjaxPage h3 {
  margin-top: 1.077em;
  margin-bottom: 1.077em; }
.foswikiAjaxPage h4 {
  margin-top: 1.313em;
  margin-bottom: 1.313em; }

#facebox .close {
  right: 14.34px; }

/* dev */
.foswikiDevGrid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.foswikiDevGridRow {
  width: 100%;
  height: 20px;
  border-style: none none solid none;
  border-color: rgba(0, 0, 255, 0.1);
  border-width: 1px; }

.foswikiDevGridCol {
  border-style: none none none solid;
  border-color: rgba(0, 0, 255, 0.1);
  border-width: 1px; }
