%{ These templates define the form attached at the bottom of viewed page. }%


%{ Start of form table }%
%TMPL:DEF{FORM:display:header}%<div class="foswikiForm">%IF{"context preview" then="%TMPL:P{FORM:display:titlename}%" else="%TMPL:P{FORM:display:titlelink}%"}%
%TABLE{sort="off" headerbg="none" headeralign="left" databg="none" summary="%MAKETEXT{"Form data"}%"}%
%TMPL:P{FORM:display:header:headerrow}%%TMPL:END%


%{ Header }%
%TMPL:DEF{FORM:display:header:headerrow}%%TMPL:END%


%{ Each row }%
%TMPL:DEF{FORM:display:row}%%IF{"context preview" then="<noautolink>"}%| *%A_TITLE%* | %A_VALUE% |%IF{"context preview" then="</noautolink>"}%
%TMPL:END%


%TMPL:DEF{FORM:display:rowcontents}%%TMPL:END%

%{ Footer }%
%TMPL:DEF{FORM:display:footer}%
</div>%TMPL:END%


%TMPL:DEF{FORM:display:titlelink}%<p class='foswikiFormTitle foswikiUnvisited'> %A_TITLE% %TMPL:P{FORM:display:editlink}% </p>%TMPL:END%


%TMPL:DEF{FORM:display:titlename}%<noautolink><h3>%A_TITLE%</h3></noautolink> %TMPL:END%


%TMPL:DEF{FORM:display:editlink}%<span class='foswikiSmall'><a href='%SCRIPTURL{edit}%/%WEB%/%TOPIC%?t=%GMTIME{$epoch}%;action=form'>%MAKETEXT{"edit"}%</a></span>%TMPL:END%
