/* Javascript related classes */

.foswikiMakeVisible {
	display:;
}
div.foswikiMakeVisible {
	display:block;
}
span.foswikiMakeVisible {
	display:inline;
}
.foswikiMakeVisibleInline {
	/* deprecated */
	display:inline;
}
.foswikiMakeVisibleBlock {
	/* deprecated */
	display:block;
}

/* made hidden if javascript available */
.foswikiMakeHidden {
	display:none;
}
